<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/jobName.css" />
</head>
<body>
    <header class="header">
        <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
        <h1 class="title text-center">设置定制信息</h1>
    </header>

    <div class="titl">
        <span>“想找什么职位?”</span>
    </div>
    <div class="conten">
        <ul>
            <li>产品经理</li>
            <li>Java</li>
            <li>运营</li>
            <li>Android</li>
            <li>PHP</li>
            <li>UI</li>
            <li>IOS</li>
            <li>编辑</li>
            <li>BD</li>
        </ul>
    </div>
    
    <script src="../lib/zepto.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/jobName.js"></script>
</body>
</html>