<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/mine.css" />

  </head>
  <body>
    <header class="header">
      <h1 class="title text-center">拉勾网</h1>
    </header>

    <main class="content">

      <div class="login text-center">
        <span class="btn text-center" id="login-btn">登录/注册</span>
      </div>
      <div class="user-panel text-center">
        <img src="../assets/default_headpic.png" alt="">
        <span>wang zhiyuan</span>
        <span id="resume">简历&gt;</span>
      </div>

      <ul class="list">
        <li class="item border-bottom">
          <span>投递</span>
          <span class="iconfont icon-fanhui"></span>
        </li>
        <li class="item border-bottom">
            <span>面试</span>
            <span class="iconfont icon-fanhui"></span>
        </li>
        <li class="item border-bottom">
            <span>收藏</span>
            <span class="iconfont icon-fanhui"></span>
        </li>
      </ul>

      <div class="logout">
        <span class="text-center">退出登录</span>
      </div>

    </main>

    <!-- 底部导航 -->
    <nav class="tab-bar"></nav>

    <script src="../lib/zepto.js"></script>
    <script src="../js/mine.js"></script>
  </body>
</html>
