<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/deliver.css">
</head>
<body>
    <header class="header">
      <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
      <h1 class="title text-center">我的投递</h1>
    </header>
    <div class="content">
      <div class="wrap">
        <ul class="list">
          <!-- <li class="item border-bottom">
            <div class="left">
              <img src="http://dummyimage.com/100x100" alt="">
            </div>
            <div class="center">
              <h3 class="title">前锋</h3>
              <p class="job">岗位[city]</p>
              <p class="time">时间</p>
            </div>
            <div class="right text-center">
              10k-15k
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  

  <script src="../lib/zepto.js"></script>
  <script src="../lib/iscroll-probe.js"></script>
  <script src="../lib/fastclick.js"></script>
  <script src="../js/deliver.js"></script>
</body>
</html>