<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/resume.css"/>
</head>
<body>
    <header class="header">
        <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
        <h1 class="title text-center">我的简历</h1>
    </header>
    <div class="content">
        <div class="wrap">
            <!-- <div class="user-panel text-center">
                <img src="../assets/default_headpic.png" alt="">
                <span>wang zhiyuan</span>
            </div>
            <div class="info">
                <i></i>基本信息
            </div>
            <div class="text">
                <p><b>最高学历：</b><span>本科</span></p>
                <p><b>工作年限：</b><span>1年</span></p>
                <p><b>联系电话：</b><span>123456778</span></p>
                <p><b>联系邮箱：</b><span>123@qq.com</span></p>
            </div>
            <div class="footer">
                我目前已离职，可快速到岗！
            </div> -->
        </div>
    </div>

    
    <script src="../lib/zepto.js"></script>
    <script src="../lib/iscroll-probe.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/resume.js"></script>
</body>
</html>