<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/companyName.css" />
</head>
<body>
    <header class="header">
        <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
        <h1 class="title text-center">设置定制信息</h1>
    </header>

    <div class="titl">
        <span>“对公司的规模可有要求?”</span>
    </div>
    <div class="conten">
        <ul>
            <li>没有要求</li>
            <li>初创型 <span>(天使轮及未融资)</span></li>
            <li>成长型 <span>(A轮及B轮融资)</span></li>
            <li>成熟型 <span>(C轮融资以上但未上市)</span></li>
            <li>上市公司</li>
        </ul>
    </div>
    
    <script src="../lib/zepto.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/companyName.js"></script>
</body>
</html>