<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/edit.css" />
</head>
<body>
    <header class="header">
        <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
        <h1 class="title text-center">设置定制信息</h1>
    </header>

    <div class="main">
        <ul>
            <li class="item">
                <p>职位类型</p>
                <a href="./jobName.html">请选择职位类型</a>
            </li>
            <li class="item">
                <p>工作地点</p>
                <a href="./addressName.html">请选择工作地点</a>
            </li>
            <li class="item">
                <p>期望薪水</p>
                <a href="./salaryName.html">请选择期望薪水</a>
            </li>
            <li class="item">
                <p>公司规模</p>
                <a href="./companyName.html">请选择公司规模</a>
            </li>
        </ul>
    </div>
    
    <div class="nav">
        开始搜索
    </div>

      <script src="../lib/zepto.js"></script>
      <script src="../lib/fastclick.js"></script>
      <script src="../js/edit.js"></script>
</body>
</html>