.header{
  width: 100%;
  height: 44px;
  background: #00b38a;
  position: absolute;
  top: 0;
  left: 0;
}
.header .title{
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #ffff;
}
.header .header-btn{
  position: absolute;
  top: 0;
  height: 44px;
  padding: 0 10px;
  color: #fff;
}
.header .header-btn.header-left-btn{
  left: 10px;
}
.header .header-btn.header-right-btn{
  right: 10px;
}
/*
<header class="header">
  <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
  <h1 class="title text-center">拉勾网</h1>
  <span class="header-btn header-right-btn text-center iconfont icon-shouye home-action"></span>
</header>

*/