<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/interview.css"/>
</head>
<body>
    <header class="header">
        <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
        <h1 class="title text-center">我的面试</h1>
    </header> 
    <div class="tab border-botttom">
        <span class="border-right">已面试</span>
        <span class="active">将面试</span>
    </div>


    
    <script src="../lib/zepto.js"></script>
    <script src="../lib/iscroll-probe.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/interview.js"></script>
</body>
</html>