<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/detail.css"/>
</head>
<body>

  <header class="header">
    <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
    <h1 class="title text-center">职位详情</h1>
    <span class="header-btn header-right-btn text-center iconfont icon-shouye home-action"></span>
  </header>
  
  <main class="content">
    <div class="wrap">
      <!-- <div class="detatitl border-bottom">
        <h2>开发工程师</h2>
        <div class="detaleft">
          <span class="iconfont icon-shoucang"></span>
          <span>收藏</span>
        </div>
      </div>
      <div class="detamain border-bottom">
        <span> <b class="iconfont icon-rmb"></b> 12k-20k</span>
        <span> <b class="iconfont icon-address"></b> 成都</span>
        <span> <b class="iconfont icon-time"></b> 全职</span>
        <span> <b class="iconfont icon-date"></b> 3-5年</span>
        <span> <b class="iconfont icon-edu-line"></b> 本科及以上</span>
        <p>职位诱惑：</p>
      </div>
      <div class="companyde border-bottom">
        <img src="" alt="">
        <div class="text">
          <h2>中国</h2>
          <p>团队和谐，福利多多</p>
        </div>
      </div>
      <div class="positiondesctitl">
        职位描述
      </div>
      <div class="positiondesc">
        <p>flex 属性用于设置或检索弹性盒模型对象的子元素如何分配空间。
            flex 属性是 flex-grow、flex-shrink 和 flex-basis 属性的简写属性flex 属性用于设置或检索弹性盒模型对象的子元素如何分配空间。
            flex 属性是 flex-grow、flex-shrink 和 flex-basis 属性的简写属性flex 属性用于设置或检索弹性盒模型对象的子元素如何分配空间。
            flex 属性是 flex-grow、flex-shrink 和 flex-basis 属性的简写属性flex 属性用于设置或检索弹性盒模型对象的子元素如何分配空间。
            flex 属性是 flex-grow、flex-shrink 和 flex-basis 属性的简写属性flex 属性用于设置或检索弹性盒模型对象的子元素如何分配空间。
            flex 属性是 flex-grow、flex-shrink 和 flex-basis 属性的简写属性flex 属性用于设置或检索弹性盒模型对象的子元素如何分配空间。
            flex 属性是 flex-grow、flex-shrink 和 flex-basis 属性的简写属性</p>
      </div>
      <div class="positiondesctitl">
          面试评价（0）
        </div>
        <div class="positiondesc">
          <p>暂无评价</p>
        </div> -->
    </div>
  </main>

  <footer class="tools">
    <span>投递简历</span>
  </footer>


  <script src="../lib/zepto.js"></script>
  <script src="../lib/iscroll-probe.js"></script>
  <script src="../lib/fastclick.js"></script>
  <script src="../js/detail.js"></script>
  
  
</body>
</html>