.content{
    top: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    background: #fafafa;
    overflow: hidden;
  }
.content .cityheader{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #ccc;
}
.content .citylist{
    padding: 0 5%;
    box-sizing: border-box;
}
.content .citylist span{
    display: inline-block;
    width: 30%;
    height: 60px;
    line-height: 60px;
    text-align: center;

}