<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/salaryName.css" />
</head>
<body>
    <header class="header">
        <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
        <h1 class="title text-center">设置定制信息</h1>
    </header>

    <div class="titl">
        <span>“你值得更好的生活,
            告诉我你期望的薪水。”</span>
    </div>
    <div class="conten">
        <ul>
            <li>没有要求</li>
            <li>2k以下</li>
            <li>2k-5k</li>
            <li>5k-10k</li>
            <li>10k-15k</li>
            <li>15k-25k</li>
            <li>25k-50k</li>
            <li>50k以上</li>
        </ul>
    </div>
    
    <script src="../lib/zepto.js"></script>
    <script src="../lib/iscroll-probe.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/salaryName.js"></script>
</body>
</html>