<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/addressName.css" />
</head>
<body>
    <header class="header">
        <span class="header-btn header-left-btn text-center iconfont icon-fanhui back-action"></span>
        <h1 class="title text-center">设置定制信息</h1>
    </header>

    <div class="titl">
        <span>“告诉我你期望的工作地点?”</span>
    </div>
    <main class="content">
        <div class="wrap">
            <!-- <div class="cityheader border-bottom">热门城市</div>
            <div class="citylist border-bottom">
            <span>北京</span>
            <span>上海</span>
            <span>广州</span>
            <span>深圳</span>
            <span>成都</span>
            <span>杭州</span>
            </div> -->
        </div>
    </main>
    
    <script src="../lib/zepto.js"></script>
    <script src="../lib/iscroll-probe.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/addressName.js"></script>
</body>
</html>